<!--  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
<nz-modal nzWidth="600px" [(nzVisible)]="isEdit"
          nzTitle="Sửa sản phẩm"
          (nzOnCancel)="handleCancel(false)"
          [nzFooter]="null">
  <form nz-form [formGroup]="formEdit" (ngSubmit)="submitForm()">

    <div class="mb-3">
      <!--    Tên sản phẩm-->
      <!--    <input formControlName="name" style="width: 100%;" nz-input name="required" required-->
      <!--           placeholder="Tên sản phẩm"/>-->
      <!--      <div *ngIf="f.data.errors">-->
      <!--        <div style="color: red;" *ngIf="f.data.errors.required"> Dữ liệu không được để trống</div>-->
      <!--      </div>-->
      <nz-form-item>
        <div style="width: 100%;">
          <nz-form-label style="height: 30px" nzRequired>Tên sản phẩm</nz-form-label>
        </div>
        <nz-form-control style="width: 100%" [nzSpan]="24" nzErrorTip="Tên sản phẩm không được để trống!">
          <input formControlName="name" style="width: 100%;" nz-input name="required" required
                 placeholder="Tên sản phẩm"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="mb-3">
      <!--    Mã sản phẩm-->
      <!--    <input formControlName="sku" style="width: 100%;" nz-input name="required" required-->
      <!--           placeholder="Mã sản phẩm"/>-->
      <nz-form-item>
        <div style="width: 100%;">
          <nz-form-label style="height: 30px" nzRequired>Mã sản phẩm</nz-form-label>
        </div>
        <nz-form-control style="width: 100%" [nzSpan]="24" nzErrorTip="Mã sản phẩm không được để trống!">
          <input formControlName="sku" style="width: 100%;" nz-input name="required" required
                 placeholder="Mã sản phẩm"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="mb-3">
      Mô tả
      <input formControlName="description" style="width: 100%;" nz-input name="required" required
             placeholder="Mô tả"/>
    </div>

    <div class="mb-3">
      Thể loại
      <!--      <nz-select style="width: 100%;" nzMode="tags" [nzMaxMultipleCount]="1" formControlName="categoryCur">-->
<!--      <nz-select style="width: 100%;" nzMode="multiple" [nzMaxMultipleCount]="1" formControlName="categoryCur">-->
        <nz-select style="width: 100%;" formControlName="categoryCur">
<!--        <nz-option nzValue="milk" nzLabel="milk"></nz-option>-->
<!--        <nz-option nzValue="coffee" nzLabel="coffee"></nz-option>-->
        <nz-option nzValue="coffee-milk" nzLabel="coffee-milk"></nz-option>
        <nz-option nzValue="coffee" nzLabel="coffee"></nz-option>
      </nz-select>
    </div>
    <div class="mb-3">
      Giảm giá
      <input formControlName="discount" style="width: 100%;" nz-input name="required" required
             placeholder="Giảm giá"/>
    </div>
    <div class="mb-3">
      Giá
      <input formControlName="price" style="width: 100%;" nz-input name="required" required
             placeholder="Giá"/>
    </div>
    <div class="mb-3">
      Số lượng
      <input formControlName="remaining" style="width: 100%;" nz-input name="required" required
             placeholder="Số lượng"/>
    </div>
    <div class="mb-3" *ngIf="urlImage">
      <img style="width: 100%; max-width: 350px" [src]="urlImage"/>
    </div>
    <div class="mb-3">
      <nz-upload
        [nzHeaders]="{ authorization: 'authorization-text' }"
        (nzChange)="onUpload($event)"
        [nzShowUploadList]="false"
      >
        <!--        <ng-container *ngIf="!urlImage">-->
        <!--          <i class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>-->
        <!--&lt;!&ndash;          <div class="ant-upload-text">{{ 'merchant.upload_logo' }}</div>&ndash;&gt;-->
        <!--          <div class="ant-upload-text">{{ 'merchant.upload_logo' | translate }}</div>-->
        <!--        </ng-container>-->
        <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
        <i *ngIf="isLoading" class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>

      </nz-upload>
    </div>
    <div class="mb-3">
      <span class="mb-3">Mô tả sản phẩm</span>
      <ckeditor formControlName="detail" [editor]="Editor"></ckeditor>
    </div>
    <nz-form-item class="d-flex justify-content-end mt-3">
      <!--      <nz-form-control class="d-flex justify-content-end" [nzOffset]="7" [nzSpan]="12">-->
      <button class="mr-3" nz-button nzType="primary" (click)="handleOk()">Xác nhận</button>
      <!--      <button class="mr-3" nz-button nzType="primary" [disabled]="!formAdd.valid" (click)="insert()">OK</button>-->
      <button nz-button (click)="handleCancel(false)">Hủy</button>
      <!--      </nz-form-control>-->
    </nz-form-item>
  </form>
</nz-modal>
