<nz-layout style="width: 100vw" class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div style="display: flex; align-items: center; margin-top: 15px"
         class="mn-header-top {{isCollapsed? 'mn-header-top-small':'header-large-icon'}}">
      <div class="mn-hd-tLeft d-flex">
        <a href="https://ng.ant.design/" target="_blank" style="color:#fff; background-color: #fff">
          <img style="width: 22px; color: #fff" src="https://cdn-icons-png.flaticon.com/512/3054/3054889.png" alt="logo">
        </a>
        <span *ngIf="!isCollapsed" class="ml-2" style="color: #fff; font-size: 16px">Diễn đàn cafe</span>
      </div>
      <div class="mn-hd-tRight mb-1"><i style="font-size: 21px; background-color: #001529; color: #c3c3c3; cursor: pointer"
                                   class="trigger trigger-white ml-3" nz-icon
                                   [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
                                   (click)="isCollapsed = !isCollapsed"></i></div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/coffee-bean">Coffee</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/equipment">equipment</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/posts">posts</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/user">user</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>user</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="d-flex justify-content-between pl-4 pl-3" style="background-color: #fff">
      <div style="font-size: 21px; font-weight: 700; color: #000">Công cụ quản lý ngân hàng</div>
      <div class="user-link" style="margin-right: 55px">
        <a class="d-flex align-items-center px-3" style="color: #000">
          <img style="width: 100%; border-radius: 50%; min-width: 35px; max-width: 35px; height: 35px; margin-right: 5px"
               [src]="infoUser.image"/>
          {{infoUser.firstName}} {{infoUser.lastName}}</a>
        <div class="user" style="width: 240px; color: #000">
          <div class="ml-3">
            <div style="height: 64px" class="d-flex flex-wrap">
              <div class="align-items-center p-0 mr-1">
                <img style="width: 100%; border-radius: 50%; min-width: 50px; max-width: 50px; height: 50px"
                     [src]="infoUser.image"/>
              </div>
              <div style="margin-top: -11px" class="d-flex flex-wrap">
                <div class="col-8" style="height: 20px">
                  Xin chào
                </div>
                <div class="col-8" style="height: 20px; margin-top: -24px">
                  {{infoUser.firstName}} {{infoUser.lastName}}
                </div>
              </div>

            </div>
            <!--            <div class="col-3 d-flex align-items-center>">-->
            <!--                <span>Xin chào</span>-->
            <!--                {{infoUser.firstName}} {{infoUser.lastName}}-->
            <!--            </div>-->
            <a style="font-size: 17px; height: 32px" class="d-flex align-items-center mt-3"><i class="mr-3" nz-icon
                                                                                               nzType="audit"
                                                                                               nzTheme="outline"></i><span>Thông tin tài khoản</span></a>
            <a style="font-size: 17px; height: 32px" class="d-flex align-items-center"><i class="mr-3" nz-icon
                                                                                          nzType="user"
                                                                                          nzTheme="outline"></i><span>Trang cá nhân</span></a>
            <a style="font-size: 17px; height: 32px" class="d-flex align-items-center"><i class="mr-3" nz-icon
                                                                                          nzType="book"
                                                                                          nzTheme="outline"></i><span>Tin đã lưu</span></a>
            <a style="font-size: 17px; height: 32px" class="d-flex align-items-center"><i class="mr-3" nz-icon
                                                                                          nzType="logout"
                                                                                          nzTheme="outline"></i><span>Đăng xuất</span></a>
          </div>
        </div>
      </div>
      <!--      <div class="app-header">-->
      <!--        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">-->
      <!--            <i class="trigger"-->
      <!--               nz-icon-->
      <!--               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"-->
      <!--            ></i>-->
      <!--        </span>-->
      <!--      </div>-->
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>

      <!--      <div style="height: 100vh" class="inner-content">-->
      <!--      </div>-->
    </nz-content>
  </nz-layout>
</nz-layout>
