<nz-layout style="width: 100vw" class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div style="display: flex; align-items: center; margin-top: 15px"
         class="mn-header-top {{isCollapsed? 'mn-header-top-small':'header-large-icon'}}">
      <div class="mn-hd-tLeft d-flex">
        <a href="https://ng.ant.design/" target="_blank" style="color:#fff; background-color: #fff">
          <img style="width: 22px; color: #fff" src="https://cdn-icons-png.flaticon.com/512/3054/3054889.png"
               alt="logo">
        </a>
        <span *ngIf="!isCollapsed" class="ml-2" style="color: #fff; font-size: 16px">Diễn đàn cafe</span>
      </div>
      <div class="mn-hd-tRight mb-1"><i
        style="font-size: 21px; background-color: #001529; color: #c3c3c3; cursor: pointer"
        class="trigger trigger-white ml-3" nz-icon
        [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
        (click)="isCollapsed = !isCollapsed"></i></div>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Admin" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/coffee-bean" (click)="ChangeValueHeader('Quản lý cà phê')">Coffee</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/equipment" (click)="ChangeValueHeader('Quản lý trang thiết bị')">equipment</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/posts" (click)="ChangeValueHeader('Quản lý bài viết')">posts</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/user" (click)="ChangeValueHeader('Quản lý tài khoản')">user</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/admin/product" (click)="ChangeValueHeader('Quản lý sản phẩm')">product</a>
          </li>
        </ul>
      </li>
      <!--      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">-->
      <!--        <ul>-->
      <!--          <li nz-menu-item nzMatchRouter>-->
      <!--            <a>user</a>-->
      <!--          </li>-->
      <!--        </ul>-->
      <!--      </li>-->
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header class="d-flex justify-content-between pl-4 pl-3" style="background-color: #fff">
      <div *ngIf="nameHeader" style="font-size: 21px; font-weight: 700; color: #000">{{nameHeader}}</div>
      <div *ngIf="!nameHeader" style="font-size: 21px; font-weight: 700; color: #000">Admin</div>
      <div class="user-link d-flex align-items-center">
        <a class="d-flex align-items-center px-3" style="color: #fff">
          <img
            style="width: 100%; border-radius: 50%; min-width: 35px; max-width: 35px; height: 35px; margin-right: 5px"
            [src]="infoUser.image"/>
        </a>
        <div class="user" style="width: 240px; color: #000; background-color: #e6e6e6">
          <div class="ml-3">
            <div style="height: 64px" class="d-flex">
              <div style="width: 50px; height: 50px" class="align-items-center p-0 mr-3">
                <img style="width: 100%; border-radius: 50%; min-width: 50px; max-width: 50px; height: 50px"
                     [src]="infoUser.image"/>
              </div>
              <div style="margin-top: -11px">
                <div style="height: 20px; font-size: 17px">
                  <span>Xin chào</span><br/>
                </div>
                <div style="height: 20px; margin-top: 5px; font-size: 17px">
                  <span>{{infoUser.name}}</span><br/>
                </div>
              </div>

            </div>
            <!--              <a style="font-size: 17px" class="d-flex align-items-center mt-3"><i class="mr-3" nz-icon nzType="audit"-->
            <!--                                                                                   nzTheme="outline"></i><span>Thông tin tài khoản</span></a>-->
            <!--              <a style="font-size: 17px" class="d-flex align-items-center"><i class="mr-3" nz-icon nzType="user"-->
            <!--                                                                              nzTheme="outline"></i><span>Trang cá nhân</span></a>-->
            <!--              <a style="font-size: 17px" class="d-flex align-items-center"><i class="mr-3" nz-icon nzType="book"-->
            <!--                                                                              nzTheme="outline"></i><span>Tin đã lưu</span></a>-->
            <!--              <a style="font-size: 17px" class="d-flex align-items-center"><i class="mr-3" nz-icon nzType="logout"-->
            <!--                                                                              nzTheme="outline"></i><span>Đăng xuất</span></a>-->
            <a style="font-size: 17px; height: 32px; color: #000"
               class="d-flex align-items-center my-3 mt-3 user-hover"
               [routerLink]="['/home/user/info']">
              <i class="mr-3" nz-icon nzType="audit" nzTheme="outline"></i>
              Thông tin tài khoản</a>
            <a style="font-size: 17px; height: 32px; color: #000" class="d-flex align-items-center my-3 user-hover"
               [routerLink]="['/home/user/myPosts']">
              <i class="mr-3" nz-icon nzType="user" nzTheme="outline"></i>
              Trang cá nhân</a>
            <a style="font-size: 17px; height: 32px; color: #000" class="d-flex align-items-center my-3 user-hover"
               [routerLink]="['/home/user/savePosts']">
              <i class="mr-3" nz-icon nzType="star" nzTheme="outline"></i>
              Bài viết yêu thích</a>
            <!--              <a style="font-size: 17px; height: 32px; color: #000" class="d-flex align-items-center my-3 user-hover"-->
            <!--                 (click)="noBody()">-->
            <!--                <i class="mr-3" nz-icon nzType="info-circle" nzTheme="outline"></i>-->
            <!--                Đóng góp ý kiến</a>-->
            <a style="font-size: 17px; height: 32px; color: #000"
               class="d-flex align-items-center  my-3 mt-1 pb-2 user-hover"
               (click)="logOut()">
              <i class="mr-3" nz-icon nzType="logout" nzTheme="outline"></i>
              Đăng xuất</a>

          </div>
        </div>

      </div>
      <!--      <div class="app-header">-->
      <!--        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">-->
      <!--            <i class="trigger"-->
      <!--               nz-icon-->
      <!--               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"-->
      <!--            ></i>-->
      <!--        </span>-->
      <!--      </div>-->
    </nz-header>
    <nz-content>
      <router-outlet></router-outlet>

      <!--      <div style="height: 100vh" class="inner-content">-->
      <!--      </div>-->
    </nz-content>
  </nz-layout>
</nz-layout>
