<form nz-form [formGroup]="formEdit">
  <!--  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
  <nz-modal nzWidth="1300px" [(nzVisible)]="isEdit" nzTitle="The first Modal" (nzOnCancel)="handleCancel(false)"
            (nzOnOk)="handleOk()" [nzFooter]="null">
    <div class="mb-3">
      Tiêu đề
      <input style="width: 100%;" formControlName="name">
<!--      <div *ngIf="f.data.errors">-->
<!--        <div style="color: red;" *ngIf="f.data.errors.required"> Dữ liệu không được để trống</div>-->
<!--      </div>-->
    </div>
    <div class="mt-3 mb-3">
      Giới thiệu
      <input style="width: 100%;" formControlName="title">
    </div>
    <div class="mb-3">
      <div class="mb-2">
        <img style="width: 100%; max-width: 300px" class="mb-3" [src]="urlImage"/>
        <!--        <input style="width: 100%;" formControlName="image">-->
      </div>
      <div class="mb-3">
        <nz-upload
          [nzHeaders]="{ authorization: 'authorization-text' }"
          (nzChange)="onUpload($event)"
          [nzShowUploadList]="false"

        >
          <ng-container *ngIf="!urlImage">
            <i class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>
            <div class="ant-upload-text">{{ 'merchant.upload_logo' | translate }}</div>
          </ng-container>
          <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
        </nz-upload>
      </div>
    </div>

    <div class="my-2">Nội dung</div>
    <ckeditor formControlName="contentCoffee" [editor]="Editor"></ckeditor>
    <div class="d-flex justify-content-end mt-5">
      <button class="mr-4" (click)="handleOk()" nz-button nzType="primary">Ok</button>
      <button (click)="handleCancel(false)" nz-button nzType="primary">Cancel</button>
    </div>
  </nz-modal>
</form>
