.category-link {
  position: relative;
}

.category-link:hover .category {
  display: block;
}
.notifi-content p{
  margin-bottom: 3px;
}

.category {
  z-index: 2;
  display: none;
  position: absolute;
  right: 11px;
  width: 250px;
  background-color: #fff;
  margin-top: -3px;
  box-shadow: 1px 1px 28px 0px rgb(0 0 0 / 12%);
  border-radius: 6px;
}

.item-category:hover {
  opacity: 0.7;
  box-shadow: 1px 1px 28px 0px rgb(0 0 0 / 25%);

}

.notify-link {
  position: relative;
}

.notify-link:hover .notify {
  display: block;
}

.notify {
  z-index: 2;
  display: none;
  position: absolute;
  right: 11px;
  width: 300px;
  background-color: #fff;
  margin-top: -3px;
  box-shadow: 1px 1px 28px 0px rgb(0 0 0 / 12%);
  border-radius: 6px;
  max-height: 400px;
  overflow-y: auto
}

.item-noti {
  margin-top: 2px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer
}

.item-noti:first-child {
  border-top: none;
}

.user-link {
  position: relative;
}

.user-link:hover .user {
  display: block;
}

.user {
  z-index: 2;
  display: none;
  position: absolute;
  right: 11px;
  width: 200px;
  background-color: #d3d3d3;
}

.coffee {
  //background-image: url('https://davatonline.ir/Content/1397/02/30/IMG1726567987853.jpg');
  background-image: url('src/assets/1076717.jpg');
  width: 100%;
  position: relative;
  height: 700px;
}

.equipment {
  background-image: url('src/assets/equpmentx.jpg');
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
  height: 800px;
}

.news {
  background-image: url('src/assets/coffee-news.png');
  background-repeat: no-repeat;
  height: 800px;
}

.noBody {
  background-color: #545454;
}

.contact {
  background-image: url('src/assets/contact3.jpg');
  height: 700px;
  width: 100%;
}

.user-hover:hover {
  opacity: 0.6;
}

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'OpenSans';
  src: url('src/assets/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('wght.ttf'),
  url('src/assets/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('wght.ttf')
}

//src: url('/src/assets/Open_Sans/OpenSans-VariableFont_wdth,wght.ttf') format('truetype'),

body {
  font-family: 'OpenSans', sans-serif;
}

* {
  font-family: 'OpenSans', sans-serif;
}

