<nz-layout style="height: 100vh;" xmlns="http://www.w3.org/1999/html">
  <nz-header style="background-color: #545454">
    <!--    class="{{isCoffee == 1 ? 'coffee' : isCoffee == 2 ? 'equipment' : isCoffee == 3 ? 'news' : isCoffee == 4 ? 'contact' : 'noBody' }}"-->
    <div
      style="max-width: 1200px; margin: auto; display: flex; justify-content: space-between; color: #fff;width: 100%; flex-wrap: nowrap"
      class="row">
      <div style="color: #fff" class="d-flex">
        <!--        content1-->
        <!--        <div>-->
        <!--          <a style="padding: 22px 10px">Giới thiệu</a>-->
        <!--        </div>-->
        <!--        content2-->
        <div *ngIf="userLocalstorage?.role == 'ADMIN'">
          <a style="padding: 22px 10px; color: #fff" (click)="linkToAdmin()">Admin</a>
        </div>
        <div>
          <a style="padding: 22px 10px; color: #fff" (click)="linkToCoffee()">Sản phẩm</a>
        </div>
        <div>
          <a style="padding: 22px 10px; color: #fff" (click)="linkToEquipment()">Công cụ, máy móc</a>
        </div>
        <!--        content3-->
        <div>
          <a style="padding: 22px 10px; color: #fff" (click)="linkToPost()">Bài viết</a>
        </div>
        <div>
          <a style="padding: 22px 10px; color: #fff" (click)="linkToProduct()">Sản phẩm</a>
        </div>
      </div>
      <!--      <div>-->
      <!--      </div>-->
      <div style="color: #fff">
        <!--        <form nz-form [formGroup]="formSearch">-->

        <div class="d-flex align-items-center justify-content-center" style="width: 310px; height: 100%">
          <!--          <a href="https://www.freepnglogos.com/images/coffee-logo-png-7521.html"></a>-->
          <img style="width: 40%"
               src="assets/coffee-house.png">
          <!--         //??? src k hiện ảnh?-->
          <!--          &lt;!&ndash;          <input nz-input type="text" formControlName="name">&ndash;&gt;-->
          <!--          <input nz-input type="text" [(ngModel)]="searchCoffee" (change)="sendData(searchCoffee)">-->
          <!--          &lt;!&ndash;            <input formControlName="name" nz-input >&ndash;&gt;-->
          <!--          &lt;!&ndash;                   type="text" class="form-control" placeholder="Tìm kiếm theo hashtag"&ndash;&gt;-->
          <!--          &lt;!&ndash;                   aria-label="Recipient's username"&ndash;&gt;-->
          <!--          &lt;!&ndash;                   aria-describedby="basic-addon2">&ndash;&gt;-->
          <!--          <div class="d-flex align-items-center">-->
          <!--            <button style="padding: 2px 12px 6px" class="btn btn-outline-secondary" type="button"-->
          <!--                    (click)="sendData()"><i-->
          <!--              style="font-size: 18px" nz-icon nzType="search" nzTheme="outline"></i></button>-->
          <!--          </div>-->
        </div>
        <!--        </form>-->
      </div>

      <div class="d-flex align-items-center" style="color: #fff">
        <a class="d-flex align-items-center px-3" style="color: #fff !important;" [routerLink]="['/home/write']"
           (click)="changeToCreatePost()">
          <i nz-icon nzType="edit" nzTheme="outline" class="mr-1"></i> Viết bài</a>

        <div class="category-link">
          <a class="d-flex align-items-center px-3 " style="color: #fff">
            <i nz-icon nzType="unordered-list" nzTheme="outline" class="mr-1"></i>Danh mục
          </a>
          <div class="category">
            <div>
              <div *ngFor="let item of dataCategory" class="item-category">
                <!--                style="border-top: 1px solid #fff; border-bottom: 1px solid #fff">-->
                <a class="d-flex align-items-center px-3 " style="color: #000" (click)="category(item)">
                  {{item}}
                </a>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="userLocalstorage" class="notify-link">
          <a class="d-flex align-items-center px-3" style="color: #fff">
            <!--            (click)="linkToContact()">-->
            <i nz-icon nzType="bell" nzTheme="outline"></i>Thông báo</a>
          <div class="notify" style="color: #000; width: 400px;">
            <div class="mx-3">
              <!--              style="width: 400px;"-->
              <div *ngFor="let item of dataCommentPost">
                <div *ngFor="let item1 of dataFromUser">

                  <!--                  //??? item.id == item1.id thừa        -->
                  <div *ngIf="item.id == item1.id && item.commentId == null && item.userId == userLocalstorage.id">
                    <div class="row item-noti"
                         (click)="linkToPostDetail(item)">
                      <a class="col-3">
                        <img style="max-width: 120%; height: 50px; width: 50px; object-fit: cover; border-radius: 50%"
                             [src]="item.imagePath"/>
                      </a>
                      <div style="font-size: 15px; margin-left: -22px; padding: 0 !important;" class="col-9">
                        <div>
                          <div class="d-flex ml-2" style="margin-top: -17px; height: 35px">
                            <a style="color: #000" class="mr-2">{{item1.name}}</a>
                            <a style="">Đã nhắc đến bạn 2</a>
                          </div>
                          <div class="ml-2" style="height: 20px">
                            <a>{{item.createAt}}</a>
                          </div>
                        </div>
                      </div>
                      <!--                </div>-->
                    </div>
                  </div>

                  <!--                  //??? item.id == item1.id thừa        -->
                  <div *ngIf="item.id == item1.id && item.commentId != null && item.userId == userLocalstorage.id">
                    item.id {{item.id}}
                    item1.id {{item1.id}}
                    <div class="row item-noti"
                         (click)="linkToPostDetail(item)">
                      <a class="col-3">
                        <img style="max-width: 120%; height: 50px; width: 50px; object-fit: cover; border-radius: 50%"
                             [src]="item.imagePath"/>
                      </a>
                      <div style="font-size: 15px; margin-left: -10px;" class="col-9 d-flex">
                        <div>
                          <div style="margin-top: -17px" class="ml-2" style="margin-top: -17px; height: 35px">
                            <a style="color: #000" class="mr-2">{{item1.name}}</a>
                            <a>Đã nhắc đến bạn 1</a>
                          </div>
                          <div class="ml-2">
                            <a>{{item.createAt}}</a>
                          </div>
                        </div>
                      </div>
                      <!--                </div>-->
                    </div>
                  </div>
                </div>
              </div>
              <!--              <div *ngFor="let item of dataReceiveNotifyFromPost">-->
              <!--                <div *ngFor="let item1 of dataFromUser">-->
              <!--                  <div *ngIf="item.id == item1.id">-->


              <!--                    &lt;!&ndash;                <div *ngFor="let itemPost of dataPost">&ndash;&gt;-->
              <!--                    &lt;!&ndash;                  <div *ngIf="item.postId == itemPost.id" class="row"&ndash;&gt;-->
              <!--                    <div class="row item-noti"-->
              <!--                         (click)="linkToPostDetail(item)">-->
              <!--                      <a class="col-3">-->
              <!--                        <img style="max-width: 120%; height: 70%; object-fit: cover; border-radius: 50%"-->
              <!--                             [src]="item.image"/>-->
              <!--                      </a>-->
              <!--                      <div style="font-size: 15px; margin-left: -10px;" class="col-9 d-flex">-->
              <!--                        <div>-->
              <!--                          <div style="margin-top: -17px; height: 33px;" class="ml-2">-->
              <!--                            <a style="color: #000" class="mr-2">{{item1.name}}</a>-->
              <!--                            <a style="height: 25px">Đã nhắc đến bạn</a>-->
              <!--                          </div>-->
              <!--                          <div class="ml-2">-->
              <!--                            <a>{{item.createAt}}</a>-->
              <!--                          </div>-->
              <!--                        </div>-->
              <!--                      </div>-->
              <!--                      &lt;!&ndash;                </div>&ndash;&gt;-->
              <!--                    </div>-->
              <!--                  </div>-->
              <!--                </div>-->
              <!--              </div>-->
              <!--              <div style="font-size: 15px" class="d-flex justify-content-center">-->
              <!--                <a>Xem tất cả</a>-->
              <!--              </div>-->
            </div>
          </div>
        </div>
        <div style="margin: 0 5px 5px">
          <a style="color: #fff" [routerLink]="['/home/checkout']"><span style="font-size: 18px" nz-icon
                                                                         nzType="shopping-cart"
                                                                         nzTheme="outline"></span></a></div>
        <div *ngIf="userLocalstorage" class="user-link" style="padding: 15px 0">
          <a class="d-flex align-items-center px-3" style="color: #fff">
            <img
              style="width: 100%; border-radius: 50%; min-width: 35px; max-width: 35px; height: 35px; margin-right: 5px"
              [src]="userLocalstorage.image"/>
          </a>
          <div class="user" style="width: 280px; color: #000; background-color: #e6e6e6; margin-top: 12px">

            <div class="ml-3">
              <div class="row d-flex">
                <div style="width: 50px; height: 50px" class="col-2 p-0 ml-2 mr-2">
                  <img style="width: 100%; border-radius: 50%; min-width: 50px; max-width: 50px; height: 50px"
                       [src]="userLocalstorage.image"/>
                </div>
                <!--                <div style="width: 180px;" class="">-->
                <div class="col-9">
                  <div style="height: 20px; font-size: 17px">Xin chào</div>
                  <span style="height: 20px; font-size: 17px">{{userLocalstorage.name}}</span>
                </div>


                <!--                  <div style="height: 20px; font-size: 17px">-->
                <!--                    <span>Xin chào</span><br/>-->
                <!--                  </div>-->
                <!--                  <div style="height: 20px; margin-top: -24px; font-size: 17px">-->
                <!--                    {{userLocalstorage.name}}-->
                <!--                  </div>-->
                <!--                </div>-->

              </div>
              <!--              <a style="font-size: 17px" class="d-flex align-items-center mt-3"><i class="mr-3" nz-icon nzType="audit"-->
              <!--                                                                                   nzTheme="outline"></i><span>Thông tin tài khoản</span></a>-->
              <!--              <a style="font-size: 17px" class="d-flex align-items-center"><i class="mr-3" nz-icon nzType="user"-->
              <!--                                                                              nzTheme="outline"></i><span>Trang cá nhân</span></a>-->
              <!--              <a style="font-size: 17px" class="d-flex align-items-center"><i class="mr-3" nz-icon nzType="book"-->
              <!--                                                                              nzTheme="outline"></i><span>Tin đã lưu</span></a>-->
              <!--              <a style="font-size: 17px" class="d-flex align-items-center"><i class="mr-3" nz-icon nzType="logout"-->
              <!--                                                                              nzTheme="outline"></i><span>Đăng xuất</span></a>-->
              <a style="font-size: 17px; height: 32px; color: #000"
                 class="d-flex align-items-center my-3 mt-3 user-hover"
                 [routerLink]="['/home/user/info']" (click)="noBody()">
                <i class="mr-3" nz-icon nzType="audit" nzTheme="outline"></i>
                Thông tin tài khoản</a>
              <a style="font-size: 17px; height: 32px; color: #000" class="d-flex align-items-center my-3 user-hover"
                 [routerLink]="['/home/user/myPosts']" (click)="noBody()">
                <i class="mr-3" nz-icon nzType="user" nzTheme="outline"></i>
                Trang cá nhân</a>
              <a style="font-size: 17px; height: 32px; color: #000" class="d-flex align-items-center my-3 user-hover"
                 [routerLink]="['/home/user/savePosts']" (click)="noBody()">
                <i class="mr-3" nz-icon nzType="star" nzTheme="outline"></i>
                Bài viết yêu thích</a>
              <!--              <a style="font-size: 17px; height: 32px; color: #000" class="d-flex align-items-center my-3 user-hover"-->
              <!--                 (click)="noBody()">-->
              <!--                <i class="mr-3" nz-icon nzType="info-circle" nzTheme="outline"></i>-->
              <!--                Đóng góp ý kiến</a>-->
              <a style="font-size: 17px; height: 32px; color: #000"
                 class="d-flex align-items-center  my-3 mt-1 pb-2 user-hover"
                 (click)="logOut()">
                <i class="mr-3" nz-icon nzType="logout" nzTheme="outline"></i>
                Đăng xuất</a>

            </div>

          </div>
        </div>
        <div class="ml-5" *ngIf="userLocalstorage == null" style="color: #fff">
          <a style="color: #fff" class="mr-3" [routerLink]="['/auth/login']">Đăng nhập</a>
          <a style="color: #fff" [routerLink]="['/auth/register']">Đăng ký</a>

        </div>
      </div>
    </div>
    <div
      style="color: #fff; font-size: 35px; font-weight: 700; margin-top: 50px">
      <div *ngIf="isCoffee == 1">
        <span class="d-flex align-items-center">"Thế giới cà phê</span><br/>
        <span class="d-flex align-items-center"
              style="margin-top: -55px"> Mỗi hạt cà phê là một câu chuyện về đam mê..."</span>
      </div>
      <div *ngIf="isCoffee == 2">
        <span class="d-flex align-items-center">"Mỗi thiết bị</span><br/>
        <span class="d-flex align-items-center" style="margin-top: -55px"> Mang một sứ mệnh riêng..."</span>
      </div>
      <div *ngIf="isCoffee == 3">
        <span class="d-flex align-items-center">"News</span><br/>
        <span class="d-flex align-items-center"
              style="margin-top: -55px"> Tin tức danh cho người yêu cà phê..."</span>
      </div>
      <div *ngIf="isCoffee == 4">
          <span class="d-flex align-items-center justify-content-center"
                style="margin-top: 250px">CONTACT US</span><br/>
        <span class="d-flex align-items-center"
              style="margin-top: -55px"> Luôn luôn lắng nghe, luôn luôn cố gắng</span>
      </div>

    </div>
  </nz-header>
  <div style="background-color: #fff">

    <div style="min-height: 500px">
      <router-outlet ></router-outlet>
    </div>

    <div style="position: relative">
      <div style="position: fixed; top: 505px; right: 20px; cursor: pointer" (click)="openChatBot()">
        <svg xmlns="http://www.w3.org/2000/svg" height="35" width="35" viewBox="0 0 512 512">
          <!--!Font Awesome Free 6.5.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
          <path fill="#3c6dcd"
                d="M256.6 8C116.5 8 8 110.3 8 248.6c0 72.3 29.7 134.8 78.1 177.9 8.4 7.5 6.6 11.9 8.1 58.2A19.9 19.9 0 0 0 122 502.3c52.9-23.3 53.6-25.1 62.6-22.7C337.9 521.8 504 423.7 504 248.6 504 110.3 396.6 8 256.6 8zm149.2 185.1l-73 115.6a37.4 37.4 0 0 1 -53.9 9.9l-58.1-43.5a15 15 0 0 0 -18 0l-78.4 59.4c-10.5 7.9-24.2-4.6-17.1-15.7l73-115.6a37.4 37.4 0 0 1 53.9-9.9l58.1 43.5a15 15 0 0 0 18 0l78.4-59.4c10.4-8 24.1 4.5 17.1 15.6z"/>
        </svg>
      </div>
      <div *ngIf="isOpenChatBot" class="p-2 d-flex justify-content-between align-items-center"
           style="z-index: 1000 ;position: fixed; top: 62px; right: 4px; background-color: #1890ff; color: #fff; font-size: 14px; width: 350px; border-top-left-radius: 7px; border-top-right-radius: 7px">
        <span>Hãy để tôi giải đáp thắc mắc của bạn</span>
        <div style="cursor: pointer; padding: 3px 4px; margin-top: -3px;" (click)="openChatBot()">
          <i nz-icon nzType="minus" nzTheme="outline"></i>
        </div>
      </div>
      <div
        *ngIf="isOpenChatBot"
        #chatBot
        style="position: fixed; top: 100px; right: 4px; border: 1px solid #c3c3c3; width: 350px; height: 400px; background-color: #fff; overflow-y: auto; z-index: 1000">

        <!--        <div style="background-color: #fff; position: relative">-->
        <!--        <div style="position: fixed; bottom: 0; width: 100%; z-index: 2">-->

        <!--        </div>-->
        <div style="min-height: 351px">
          <div *ngFor="let item of dataChat">
            <div *ngIf="item.user" class="pt-2 pr-2 pl-4 d-flex justify-content-end" style="background-color: #fff">
                <span
                  style="background-color: #1890ff; color: #fff; border-radius: 30px; padding: 12px 12px 12px 12px">{{item.user}}</span>
            </div>
            <div *ngIf="item.bot" class="pt-2 pl-2 pr-4 d-flex justify-content-start">
                <span
                  style="background-color: #c3c3c3; color: #fff; border-radius: 30px; padding: 9px">{{item.bot}}</span>
            </div>
          </div>
          <div *ngIf="isWaitingReply" class="pt-2 pl-2 pr-4 d-flex justify-content-start">
                <span
                  style="background-color: #c3c3c3; color: #fff; border-radius: 30px; padding: 9px">Đang trả lời...</span>
          </div>
        </div>
        <input style="width: 100%" class="p-1 mt-3" nz-input type="text"
               [(ngModel)]="inputChatAsk"
               [disabled]="isDisabledInputChat"
               placeholder="Chúng tôi có thể giúp gì cho bạn?"
               (keyup.enter)="handleSubmitChat()">
        <!--        </div>-->

      </div>
    </div>
  </div>
  <!--  <nz-footer style="display: flex; align-items: end; max-height: 200px">-->
  <nz-footer>
    <div style="max-width: 1200px; margin: auto; display: grid; grid-template-columns: 22% 31% 24% 23%;">
      <div style="font-size: 17px; font-weight: 700; width: 100%" class="mr-5">
        © Design by Quang Hai
      </div>
      <div class="">
        <div class="mb-4" style="font-size: 17px; font-weight: 700">
          Liên hệ quảng cáo
        </div>
        <div style="font-size: 14px">
          Hotline: 0794463333 - 0961984388
        </div>
        <div style="font-size: 14px">
          Email: cafevietnam@admicro.vn
        </div>
      </div>
      <div class="ml-3">
        <div class="mb-4" style="font-size: 17px; font-weight: 700">
          Tải app
        </div>
        <div>
          <a class="d-block"><img style="width: 145px; height: 60px; margin-left: -9px; margin-top: -7px"
                                  src="https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png"/></a>
          <a class="d-block"><img style="width: 127px"
                                  src="https://viblo.asia/_nuxt/img/app-store-badge.8c4986ee4828b47d16f5cd694ef065f2.svg"/></a>
        </div>
      </div>
      <div class="ml-3">
        <div class="mb-4" style="font-size: 17px; font-weight: 700; width: 100%">
          <div>
            liên kết

          </div>
          <div style="font-size: 28px">
            <i nz-icon nzType="facebook" nzTheme="outline"></i>
            <i style="margin: 0 5px" nz-icon nzType="linkedin" nzTheme="outline"></i>
            <i style="margin: 0 5px" nz-icon nzType="youtube" nzTheme="outline"></i>
            <i nz-icon nzType="instagram" nzTheme="outline"></i>
          </div>
        </div>
      </div>
    </div>
  </nz-footer>
</nz-layout>

