<div style="display: flex;box-sizing: border-box; flex-wrap: wrap ;max-width: 1200px; margin: auto">
  <div style="width: 100%;">
    <div class="d-flex justify-content-end mt-5 mb-3" >
      <input style="width: 30%" class="p-1" nz-input type="text" [(ngModel)]="searchEquipment" (change)="handleSearchInput()">
      <button style="padding: 2px 12px 6px" class="btn btn-outline-secondary" type="button">
        <i style="font-size: 18px" nz-icon nzType="search" nzTheme="outline"></i></button>
    </div>
  </div>
  <div *ngFor="let item of data, let i = index" class="mt-4 item-product"
       style="box-sizing: border-box; padding: 0 2px; margin-bottom: 20px" nz-col [nzSpan]="6">
    <div style="background-color: #e2e2e2c4; height: 100%;box-sizing: border-box; padding: 10px 9px 10px">
      <div style="text-align: center; margin: 5px 0 10px;">
        <img style="width: 250px; height: 180px" [src]="item.image" alt="">
      </div>
      <div style="text-align: left; margin: 0 15px 0px; height: 55px">
        <span
          style="font-size: 25px; color: #000; font-weight: 600;min-height: 40px ; text-overflow: ellipsis; display: -webkit-box; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 1">{{item.name}}</span>
      </div>
      <div style="height: 66px">
        <span
          style="font-size: 14px; color: #000; margin: 0 15px; text-overflow: ellipsis; display: -webkit-box; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">{{item.title}}</span>
      </div>
      <div style="margin: 20px 15px 10px; margin-top: 2rem!important">
        <button nz-button class="customHoverButton d-flex justify-content-center align-items-center"
                style="background-color: #545454; color: #fff; border-radius: 3px; padding: 19px 30px"
                (click)="equipmentDetail(item)">
          Xem thêm
        </button>
        <!--        <button nz-button nzType="primary" [routerLink]="['/home/test']" (click)="updateSlug(item)">Xem thêm</button>-->
      </div>
    </div>
  </div>
</div>

<app-detail-equipment [equipmentId]="equipmentId" style="display: none"></app-detail-equipment>
