<form nz-form [formGroup]="formAdd">
  <!--  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
  <nz-modal nzWidth="1300px" [(nzVisible)]="isAdd" nzTitle="The first Modal" (nzOnCancel)="handleCancel(false)"
            (nzOnOk)="handleOk()" [nzOkLoading]="isLoading">

    <div class="mb-3">
      Tên cà phê
      <input formControlName="name" style="width: 100%;" nz-input name="required" required
             placeholder="Tiêu đề"/>
<!--      <div *ngIf="f.data.errors">-->
<!--        <div style="color: red;" *ngIf="f.data.errors.required"> Dữ liệu không được để trống</div>-->
<!--      </div>-->
    </div>
    <div class="mb-3">
      Giới thiệu
      <input formControlName="title" style="width: 100%;" nz-input name="required" required
             placeholder="Giới thiệu"/>
    </div>
    <div class="mb-3" *ngIf="urlImage">
      <img style="width: 100%; max-width: 350px" [src]="urlImage" />
    </div>
    <div class="mb-3">
      <nz-upload
        [nzHeaders]="{ authorization: 'authorization-text' }"
        (nzChange)="onUpload($event)"
        [nzShowUploadList]="false"
      >
        <ng-container *ngIf="!urlImage">
          <i class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">{{ 'merchant.upload_logo' | translate }}</div>
        </ng-container>
        <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
      </nz-upload>
    </div>

    <div class="my-2">Nội dung</div>
    <ckeditor style="min-height: 300px" formControlName="contentCoffee" [editor]="Editor"></ckeditor>


  </nz-modal>
</form>
