<div style="max-width: 1200px; margin: auto" class="row">
  <div class="col-2 mt-4">
    <div>
      <div style="font-size: 18px; font-weight: 500; cursor: pointer; color: #000" class="py-3">
        <a [routerLink]="['/home/user/info']">Thông tin cá nhân</a>

      </div>
      <div style="font-size: 18px; font-weight: 500; cursor: pointer; color: #000" class="py-3">
        <a [routerLink]="['/home/user/myPosts']">Bài viết cá nhân</a>
      </div>
      <div style="font-size: 18px; font-weight: 500; cursor: pointer; color: #000" class="py-3">
        <a [routerLink]="['/home/user/postsSave']">Bài viết yêu thích</a>
      </div>
    </div>
  </div>
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-2 my-4">
    <div style="font-size: 16px">
      <div class="mb-4 pt-3">
        <span style="font-size: 18px; font-weight: 600">Mức độ yêu thích</span><br/>
      </div>
      <div class="py-2" style="border-bottom: 1px solid #c3c3c3; border-top: 1px solid #c3c3c3">
        <span>Tổng số bài viết</span><br/>
        <span>test</span>
      </div>
      <div class="py-2" style="border-bottom: 1px solid #c3c3c3">
        <span>Tổng số like</span><br/>
        <span>test</span>
      </div>
      <div class="py-2" style="border-bottom: 1px solid #c3c3c3">
        <span>Tổng số comment</span><br/>
        <span>test</span>
      </div>
      <div class="py-2" style="border-bottom: 1px solid #c3c3c3">
        <span>Danh hiệu</span><br/>
        <span>test</span>
      </div>
<!--      <div class="py-2" style="border-bottom: 1px solid #c3c3c3">-->
<!--        <span>Thành tích</span><br/>-->
<!--        <span>test</span>-->
<!--      </div>-->
    </div>
  </div>
</div>
