<!--  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
  <nz-modal nzWidth="1300px" [(nzVisible)]="isEdit"
            nzTitle="Chỉnh sửa trang thiết bị"
            (nzOnCancel)="handleCancel(false)" (nzOnOk)="handleOk()" [nzFooter]="null">
    <form nz-form [formGroup]="formEdit" (ngSubmit)="submitForm()">

    <div class="mb-3">

      <nz-form-item>
        <div style="width: 100%;">
          <nz-form-label style="height: 30px" nzRequired>Tên trang thiết bị</nz-form-label>
        </div>
        <nz-form-control style="width: 100%" [nzSpan]="24" nzErrorTip="Tên trang thiết bị không được để trống!">
          <input formControlName="name" style="width: 100%;" nz-input name="required" required
                 placeholder="Tiêu đề"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="mt-3 mb-3">
      Giới thiệu
      <input style="width: 100%;" formControlName="title">
    </div>
    <div class="mb-3">
      <div class="mb-2">
        <img style="width: 100%; max-width: 300px" class="mb-3" [src]="urlImage" />
        <!--        <input style="width: 100%;" formControlName="image">-->
      </div>
      <div class="mb-3">
        <nz-upload
          [nzHeaders]="{ authorization: 'authorization-text' }"
          (nzChange)="onUpload($event)"
          [nzShowUploadList]="false"
        >
<!--          <ng-container *ngIf="!urlImage">-->
<!--            <i class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>-->
<!--&lt;!&ndash;            <div class="ant-upload-text">{{ 'merchant.upload_logo' }}</div>&ndash;&gt;-->
<!--                      <div class="ant-upload-text">{{ 'merchant.upload_logo' | translate }}</div>-->
<!--          </ng-container>-->
          <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
          <i *ngIf="isLoading" class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>

        </nz-upload>
      </div>

    </div>
    <ckeditor formControlName="contentEquipment" [editor]="Editor"></ckeditor>
    <div class="d-flex justify-content-end mt-5">
      <button class="mr-4" (click)="handleOk()" nz-button nzType="primary">Xác nhận</button>
      <button (click)="handleCancel(false)" nz-button nzType="primary">Cancel</button>
    </div>
    </form>
  </nz-modal>
