<form nz-form [formGroup]="formAdd">
  <div style="max-width: 1200px; margin: auto">
    <div style="width: 100%;" class="py-3 px-3">
      <!--    <nz-form-item style="width: 100%;">-->
      <!--      <nz-form-label [nzSpan]="5">Tiêu đề</nz-form-label>-->
      <!--      <nz-form-control style="width: 100%;" nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">-->
      Tiêu đề
      <input formControlName="title" style="width: 100%;" nz-input name="required" required
             placeholder="Tiêu đề"/>
      <!--      </nz-form-control>-->
      <!--    </nz-form-item>-->
    </div>
    <div style="width: 100%;" class="py-3 px-3">
      <div>
        Category
      </div>
      <nz-select style="width: 180px" nzPlaceHolder="Trang thiết bị" formControlName="category">
        <nz-option nzValue="Cà phê" nzLabel="Cà phê"></nz-option>
        <nz-option nzValue="Trang thiết bị" nzLabel="Trang thiết bị"></nz-option>
        <nz-option nzValue="Giới thiệu" nzLabel="Giới thiệu"></nz-option>
        <nz-option nzValue="Hẹn hò" nzLabel="Hẹn hò"></nz-option>
        <nz-option nzValue="Du lịch" nzLabel="Du lịch"></nz-option>
        <nz-option nzValue="Sự kiện" nzLabel="Sự kiện"></nz-option>

      </nz-select>
    </div>
    <!--  <nz-form-item>-->
    <!--    <nz-form-label [nzSpan]="5">Giới thiệu</nz-form-label>-->
    <!--    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Input is required">-->
    <div class="py-3 px-3">
      Giới thiệu
      <input formControlName="contentPost" style="width: 100%;" nz-input name="required" required
             placeholder="Giới thiệu"/>
    </div>
    <div style="margin-left: 16px" class="mb-3" *ngIf="urlImage">
      <img style="width: 100%; max-width: 350px" [src]="urlImage"/>
    </div>
    <div class="clearfix my-3 ml-3">
      <nz-upload
        class="upload-list-inline"
        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
        nzListType="picture"
        [nzHeaders]="{ authorization: 'authorization-text' }"
        (nzChange)="onUpload($event)"
      >
        <!--      [(nzFileList)]="fileList2"-->
        <button nz-button>
          <span><i nz-icon nzType="upload"></i> Upload</span>
        </button>
      </nz-upload>
    </div>
    <div class="py-3 px-3">
      Nội dung
      <ckeditor style="min-height: 300px" formControlName="contentDetail" [editor]="Editor"></ckeditor>
      <!--    <ckeditor style="min-height: 300px" formControlName="content1" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>-->
    </div>
    <!--    <div class="py-3 px-3">-->
    <!--      Hashtag-->
    <!--      <input formControlName="hashTag" style="width: 100%;" nz-input name="required" required-->
    <!--             placeholder="hashTag"/>-->
    <!--    </div>-->
    <div class="d-flex justify-content-end my-3 mx-3">
      <button (click)="Submit()" style="border-radius: 4px" nz-button nzType="primary">Đăng bài</button>
    </div>
  </div>
</form>
