<form nz-form [formGroup]="formSearch">

<div class="d-flex align-items-center justify-content-between mb-4">
  <div style="display: flex">

    <button style="border-radius: 5px" class="d-flex align-items-center ml-3" nz-button nzType="primary">
      <i nz-icon nzType="search" nzTheme="outline"></i> Tìm kiếm
    </button>
    <button style="border-radius: 5px" class="d-flex align-items-center ml-3" nz-button nzType="primary"
            (click)="handleAdd()">
      <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm mới
    </button>
  </div>

  <div class="d-flex justify-content-end">
    <nz-input-group [nzSuffix]="suffixIconSearch">
      <input class="px-1" formControlName="name" (change)="handleSearch()" type="text" nz-input placeholder="input search text"/>
<!--      <input class="px-1" [(ngModel)]="searchValue" type="text" nz-input placeholder="input search text"/>-->
    </nz-input-group>
    <ng-template #suffixIconSearch>
      <i class="mb-2" nz-icon nzType="search"></i>
    </ng-template>
  </div>

</div>
<nz-table
  #basicTable
  [nzData]="data"
  [(nzPageIndex)]="searchModel.pageIndex"
  [nzFrontPagination]="false"
  nzBordered
  nzShowSizeChanger
  [nzScroll]="{ x: '1200px'}"
>
  <thead>
  <tr>
    <th>STT</th>
    <th>Id</th>
    <th>Tên</th>
    <th>Tiêu đề</th>
    <th>Nội dung</th>
    <th>Ảnh</th>
    <th>Hành động</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of data | filter:searchValue | sort:sortValue:isSort, let i = index">
    <td class="text-nowrap">{{validateService.getRowIndex(i, basicTable.nzPageIndex, basicTable.nzPageSize)}}</td>
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td style=" white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
      {{ item.title }}</td>
    <!--      <td>{{ item.title }}</td>-->
    <!--    <td>{{ item.contentCoffee }}</td>-->
    <td style=" white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
      {{ item.contentEquipment }}</td>
    <td><img style="width: 100%;" [src]="item.image"/></td>
    <td style="min-width: 120px; text-align: center">
      <a style="font-size: 21px" class="mr-3" (click)="handleEdit(item)"><i nz-icon nzType="edit"
                                                                            nzTheme="outline"></i></a>
      <a style="font-size: 21px" nz-popconfirm nzPopconfirmTitle="Bạn chắc chắn muốn xóa bài đăng này?" (nzOnConfirm)="handleDelete(item)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
    </td>
  </tr>
  </tbody>
</nz-table>
<div class="d-flex justify-content-end">
  <nz-pagination class="pb-4" (click)="changePage()" [(nzPageIndex)]="curPage" [nzTotal]="total"></nz-pagination>
</div>

<app-add-equipment [isAdd]="isAdd" (closePopup)=handleClosePopup($event)></app-add-equipment>
<app-edit-equipment [isEdit]="isEdit" [dataEdit]="dataEdit" (closePopup)=handleClosePopup($event)></app-edit-equipment>
</form>
