<div class="row mb-5" style="max-width: 1200px; margin: auto">
  <div class="col-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col-4">
    <div class="mt-5">
      <div class="mb-5">
        <span style="font-size: 23px; font-weight: 600">Có thể bạn quan tâm</span>
      </div>
      <div class="mt-2 d-flex" style=";border-bottom: 1px solid #ccc">
        <div class="mb-3">
          <a><img style="max-width: 90px"
                  src="https://media.loveitopcdn.com/2360/hinh-dang-va-cau-tao-hat-ca-phe-nhan-robusta.jpg"/></a>
        </div>
        <div class="ml-2 mb-3" style="font-weight: 500; font-size: 14px">
          <span
            style="text-overflow: ellipsis; display: -webkit-box; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">Testtttttttt Testttttttt Testtttttt Testttttt Testtttttt Testttttttt vvTesttttttttt Testtttttttt Testtttttttt Testtttttttt Testtttttttt</span>
        </div>
      </div>
    </div>
    <div class="mt-5">
      <div class="mb-5">
        <span style="font-size: 23px; font-weight: 600">Liên quan</span>
      </div>
      <div class="mt-2 d-flex" style=";border-bottom: 1px solid #ccc">
        <div class="mb-3">
          <a><img style="max-width: 90px"
                  src="https://media.loveitopcdn.com/2360/hinh-dang-va-cau-tao-hat-ca-phe-nhan-robusta.jpg"/></a>
        </div>
        <div class="ml-2 mb-3" style="font-weight: 500; font-size: 14px">
          <span
            style="text-overflow: ellipsis; display: -webkit-box; overflow: hidden; -webkit-box-orient: vertical; -webkit-line-clamp: 3;">Testtttttttt Testttttttt Testtttttt Testttttt Testtttttt Testttttttt vvTesttttttttt Testtttttttt Testtttttttt Testtttttttt Testtttttttt</span>
        </div>
      </div>
    </div>


  </div>
</div>
