<!--  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
  <nz-modal nzWidth="1300px" [(nzVisible)]="isAdd" nzTitle="Thêm mới trang thiết bị"
            [nzFooter]="null"
            (nzOnCancel)="handleCancel(false)">
    <form nz-form [formGroup]="formAdd" (ngSubmit)="submitForm()">

    <div class="mb-3">

      <nz-form-item>
        <div style="width: 100%;">
          <nz-form-label style="height: 30px" nzRequired>Tên trang thiết bị</nz-form-label>
        </div>
        <nz-form-control style="width: 100%" [nzSpan]="24" nzErrorTip="Tên trang thiết bị không được để trống!">
          <input formControlName="name" style="width: 100%;" nz-input name="required" required
                 placeholder="Tiêu đề"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div class="mb-3">
      Giới thiệu
      <input formControlName="title" style="width: 100%;" nz-input name="required" required
             placeholder="Giới thiệu"/>
    </div>
    <div class="mb-3" *ngIf="urlImage">
      <img style="width: 100%; max-width: 350px" [src]="urlImage" />
    </div>
    <div class="mb-3">
      <nz-upload
        [nzHeaders]="{ authorization: 'authorization-text' }"
        (nzChange)="onUpload($event)"
        [nzShowUploadList]="false"
      >
<!--        <ng-container *ngIf="!urlImage">-->
<!--          <i class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>-->
<!--&lt;!&ndash;          <div class="ant-upload-text">{{ 'merchant.upload_logo' }}</div>&ndash;&gt;-->
<!--                    <div class="ant-upload-text">{{ 'merchant.upload_logo' | translate }}</div>-->
<!--        </ng-container>-->
        <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
        <i *ngIf="isLoading" class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>

      </nz-upload>
    </div>

    <ckeditor style="min-height: 300px" formControlName="contentEquipment" [editor]="Editor"></ckeditor>
      <nz-form-item class="d-flex justify-content-end mt-3">
        <!--      <nz-form-control class="d-flex justify-content-end" [nzOffset]="7" [nzSpan]="12">-->
        <button class="mr-3" nz-button nzType="primary" (click)="handleOk()">Xác nhận</button>
        <!--      <button class="mr-3" nz-button nzType="primary" [disabled]="!formAdd.valid" (click)="insert()">OK</button>-->
        <button nz-button (click)="handleCancel(false)">Hủy</button>
        <!--      </nz-form-control>-->
      </nz-form-item>
    </form>

  </nz-modal>
