<form nz-form [formGroup]="formAdd">
  <!--  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
  <nz-modal nzWidth="1000px" [(nzVisible)]="isAdd" nzTitle="Thêm mới tài khoản" (nzOnCancel)="handleCancel(false)"
            (nzOnOk)="handleOk()" [nzFooter]="null">
    <div class="d-flex justify-content-between">
      <div class="col-4">
        Username
        <input formControlName="userName" nz-input placeholder="Username"/>
      </div>
      <div class="col-4">
        Password
        <input formControlName="passWord" nz-input placeholder="Password"/>
      </div>

      <div class="col-4">
        Email
        <input formControlName="email" nz-input placeholder="Email"/>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-4">
        First name
        <input formControlName="name" nz-input placeholder="First name"/>
      </div>

      <div class="col-4">
        Age
        <input formControlName="age" nz-input placeholder="Age"/>
      </div>

      <div class="col-4">
        Address
        <input formControlName="address" nz-input placeholder="Address"/>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-4">
        Sex
        <input formControlName="sex" nz-input placeholder="Sex"/>
      </div>

      <div class="col-4">
        Role
        <input formControlName="role" nz-input placeholder="Role"/>
      </div>

      <div class="col-4">
        Phone number
        <input formControlName="phoneNumber" nz-input placeholder="Phone number"/>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-4">
        Date of birth
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>DatePicker</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-date-picker formControlName="dateOfBirthCur"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>


      <div class="col-4">
        Create date
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>DatePicker</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-date-picker formControlName="createDateCur"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

<!--    <div class="col-md-6">-->
<!--      <input type="file" (change)="onFileChanged($event)">-->
<!--      <div class="col-md-6">-->
<!--        <input type="button" (click)="onUpload()" value="upload">-->
<!--      </div>-->
<!--    </div>-->

    <nz-upload
      [nzHeaders]="{ authorization: 'authorization-text' }"
      (nzChange)="onUpload($event)"
    >
      <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
    </nz-upload>


    <div class="d-flex justify-content-end mt-5">
      <button class="mr-4" (click)="handleOk()" nz-button nzType="primary">Ok</button>
      <button (click)="handleCancel(false)" nz-button nzType="primary">Cancel</button>
    </div>
  </nz-modal>
</form>
