<form nz-form [formGroup]="formAdd">
  <!--  <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
  <nz-modal nzWidth="1000px" [(nzVisible)]="isAdd" nzTitle="Thêm mới tài khoản" (nzOnCancel)="handleCancel(false)"
            (nzOnOk)="handleOk()" [nzFooter]="null">
    <div class="d-flex justify-content-between">
      <div class="col-4">
        Username
        <input formControlName="userName" nz-input placeholder="Username"/>
      </div>
      <div class="col-4">
        Password
        <input formControlName="passWord" nz-input placeholder="Password"/>
      </div>

      <div class="col-4">
        Email
        <input formControlName="email" nz-input placeholder="Email"/>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-4">
        First name
        <input formControlName="firstName" nz-input placeholder="First name"/>
      </div>

      <div class="col-4">
        Last name
        <input formControlName="lastName" nz-input placeholder="Last name"/>
      </div>

      <div class="col-4">
        Address
        <input formControlName="address" nz-input placeholder="Address"/>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-4">
        Age
        <input formControlName="age" nz-input placeholder="Age"/>
      </div>

      <div class="col-4">
        Role
        <input formControlName="role" nz-input placeholder="Role"/>
      </div>

      <div class="col-4">
        Phone number
        <input formControlName="phoneNumber" nz-input placeholder="Phone number"/>
      </div>
    </div>

    <div class="d-flex justify-content-between">
      <div class="col-4">
        Date of birth
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>MonthPicker</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-month-picker formControlName="dateOfBirth"></nz-month-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div class="col-4">
        Sex
        <input formControlName="sex" nz-input placeholder="Sex"/>
      </div>

      <div class="col-4">
        Create date
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>MonthPicker</nz-form-label>
          <nz-form-control [nzSm]="16" [nzXs]="24">
            <nz-month-picker formControlName="createDate"></nz-month-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
    <div>
<!--      <nz-upload-->
<!--        [nzRemove]="remove"-->

<!--        nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"-->
<!--        (nzChange)="handleChange($event)"-->

<!--      >-->
<!--        [nzBeforeUpload]="beforeUpload"-->

<!--        [nzPreview]="handlePreview"-->
<!--        &lt;!&ndash;        [nzHeaders]="{ authorization: 'authorization-text' }"&ndash;&gt;-->
<!--        &lt;!&ndash;              [(nzFileList)]="fileList"&ndash;&gt;-->
<!--        &lt;!&ndash;              [nzLimit]="1" [nzFileType]="type"&ndash;&gt;-->
<!--        &lt;!&ndash;        formControlName="image"&ndash;&gt;-->

<!--          <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>-->
<!--        </nz-upload>-->

      <div class="container row">
        <div class="col-md-6">
          <input type="file" (change)="onFileChanged($event)">
        </div>
        <div class="col-md-6">
          <input type="button" (click)="onUpload()" value="upload">
        </div>
      </div>




      <div class="container row">
        <div class="col-md-12">
          <div *ngIf=retrievedImage>
            <img [src]="retrievedImage">
          </div>
        </div>
      </div>






      <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                (nzOnCancel)="previewVisible = false">
        <ng-template #modalContent>
          <img [src]="previewImage" [ngStyle]="{ width: '100%' }"/>
        </ng-template>
      </nz-modal>
    </div>

    <div>
      <input type="file" (change)="onFileSelected($event)"/>
      <button (click)="uploadImage()">Upload</button>
    </div>

    <div class="container row">
      <div class="col-md-6">
        <input type="text" class="form-control" id="name" placeholder="image name" [(ngModel)]="imageName"
               name="name" />
      </div>
      <div class="col-md-6">
        <input type="button" (click)="getImage()" value="Get Image">

      </div>
    </div>

    <div class="d-flex justify-content-end mt-5">
      <button class="mr-4" (click)="handleOk()" nz-button nzType="primary">Ok</button>
      <button (click)="handleCancel(false)" nz-button nzType="primary">Cancel</button>
    </div>
  </nz-modal>
</form>
