<form nz-form [formGroup]="formAdd">
  <!--    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
  <nz-modal nzWidth="1300px" [(nzVisible)]="isAdd" nzTitle="Thêm mới bài viết" (nzOnCancel)="handleCancel(false)"
            (nzOnOk)="handleOk()" [nzFooter]="null">
    Tiêu đề
    <div class="mt-2 mb-3">
      <input style="width: 100%;" formControlName="title">
<!--      <div *ngIf="f.data.errors">-->
<!--        <div style="color: red;" *ngIf="f.data.errors.required"> Dữ liệu không được để trống</div>-->
<!--      </div>-->
    </div>
    Phân loại
    <div class="mt-2 mb-3">
      <nz-select style="width: 180px" nzPlaceHolder="Trang thiết bị" formControlName="category">
        <nz-option nzValue="Cà phê" nzLabel="Cà phê"></nz-option>
        <nz-option nzValue="Trang thiết bị" nzLabel="Trang thiết bị"></nz-option>
        <nz-option nzValue="Giới thiệu" nzLabel="Giới thiệu"></nz-option>
        <nz-option nzValue="Hẹn hò" nzLabel="Hẹn hò"></nz-option>
        <nz-option nzValue="Du lịch" nzLabel="Du lịch"></nz-option>
        <nz-option nzValue="Sự kiện" nzLabel="Sự kiện"></nz-option>

      </nz-select>
    </div>
    Giới thiệu
    <div class="mt-2 mb-4">
      <input style="width: 100%;" formControlName="contentPost">
    </div>
    <div class="mb-3" *ngIf="urlImage">
      <img style="width: 100%; max-width: 350px" [src]="urlImage"/>
    </div>
    <div class="mb-4">
      <nz-upload
        [nzHeaders]="{ authorization: 'authorization-text' }"
        (nzChange)="onUpload($event)"
        [nzShowUploadList]="false"
      >
        <ng-container *ngIf="!urlImage">
          <i class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>
          <div class="ant-upload-text">{{ 'merchant.upload_logo' | translate }}</div>
        </ng-container>
        <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
      </nz-upload>
    </div>

    <div class="my-2">Nội dung</div>
    <ckeditor formControlName="contentDetail" [editor]="Editor"></ckeditor>
    <!--        <ckeditor formControlName="content1" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>-->
    <div class="d-flex justify-content-end mt-5">
      <button class="mr-4" (click)="handleOk()" nz-button nzType="primary">Ok</button>
      <button (click)="handleCancel(false)" nz-button nzType="primary">Cancel</button>
    </div>
  </nz-modal>

</form>

