<form nz-form [formGroup]="formAdd">
  <!--    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
  <nz-modal nzWidth="1300px" [(nzVisible)]="isAdd" nzTitle="Thêm mới bài viết" (nzOnCancel)="handleCancel(false)"
            (nzOnOk)="handleOk()" [nzFooter]="null">
    Tiêu đề
    <div class="mt-2 mb-3">
      <input style="width: 100%;" formControlName="title">
    </div>
    Content
    <div class="mt-2 mb-4">
      <input style="width: 100%;" formControlName="contentPost">
    </div>
    <div class="mb-3" *ngIf="urlImage">
      <img style="width: 100%; max-width: 350px" [src]="urlImage" />
    </div>
    <div class="mb-4">
      <nz-upload
        [nzHeaders]="{ authorization: 'authorization-text' }"
        (nzChange)="onUpload($event)"
      >
        <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
      </nz-upload>
    </div>

    <ckeditor formControlName="contentDetail" [editor]="Editor"></ckeditor>
    <!--        <ckeditor formControlName="content1" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>-->
    <div class="d-flex justify-content-end mt-5">
      <button class="mr-4" (click)="handleOk()" nz-button nzType="primary">Ok</button>
      <button (click)="handleCancel(false)" nz-button nzType="primary">Cancel</button>
    </div>
  </nz-modal>

</form>

