<!--    <button nz-button [nzType]="'primary'" (click)="showModal()"><span>Show Modal</span></button>-->
<nz-modal nzWidth="1300px" [(nzVisible)]="isAdd" nzTitle="Thêm mới bài viết" (nzOnCancel)="handleCancel(false)"
          (nzOnOk)="handleOk()" [nzFooter]="null">
  <form nz-form [formGroup]="formAdd" (ngSubmit)="submitForm()">
    <div class="mt-2 mb-3">
      <nz-form-item>
        <div style="width: 100%;">
          <nz-form-label style="height: 30px" nzRequired>Tiêu đề</nz-form-label>
        </div>
        <nz-form-control style="width: 100%" [nzSpan]="24" nzErrorTip="Tiêu đề không được để trống!">
          <input formControlName="title" style="width: 100%;" nz-input name="required" required
                 placeholder="Tiêu đề"/>
        </nz-form-control>
      </nz-form-item>
    </div>
    Phân loại
    <div class="mt-2 mb-3">
      <nz-select style="width: 180px" nzPlaceHolder="Trang thiết bị" formControlName="category">
        <nz-option nzValue="Cà phê" nzLabel="Cà phê"></nz-option>
        <nz-option nzValue="Trang thiết bị" nzLabel="Trang thiết bị"></nz-option>
        <nz-option nzValue="Giới thiệu" nzLabel="Giới thiệu"></nz-option>
        <nz-option nzValue="Hẹn hò" nzLabel="Hẹn hò"></nz-option>
        <nz-option nzValue="Du lịch" nzLabel="Du lịch"></nz-option>
        <nz-option nzValue="Sự kiện" nzLabel="Sự kiện"></nz-option>
      </nz-select>
    </div>
    <nz-form-item>
      <div style="width: 100%;">
        <nz-form-label style="height: 30px" nzRequired>Giới thiệu</nz-form-label>
      </div>
      <nz-form-control style="width: 100%" [nzSpan]="24" nzErrorTip="Giới thiệu không được để trống!">
        <input formControlName="contentPost" style="width: 100%;" nz-input name="required" required
               placeholder="Tiêu đề"/>
      </nz-form-control>
    </nz-form-item>
    <!--    <div class="mt-2 mb-4">-->
    <!--      <input style="width: 100%;" formControlName="contentPost">-->
    <!--    </div>-->
    <div class="mb-3" *ngIf="urlImage">
      <img style="width: 100%; max-width: 350px" [src]="urlImage"/>
    </div>
    <div class="mb-4">
      <nz-upload
        [nzHeaders]="{ authorization: 'authorization-text' }"
        (nzChange)="onUpload($event)"
        [nzShowUploadList]="false"
      >
        <!--        <ng-container *ngIf="!urlImage">-->
        <!--          <i class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>-->
        <!--          <div class="ant-upload-text">{{ 'merchant.upload_logo'  }}</div>-->
        <!--&lt;!&ndash;          <div class="ant-upload-text">{{ 'merchant.upload_logo' | translate }}</div>&ndash;&gt;-->
        <!--        </ng-container>-->
        <button nz-button><i nz-icon nzType="upload"></i>Click to Upload</button>
        <i *ngIf="isLoading" class="upload-icon" nz-icon [nzType]="isLoading ? 'loading' : 'plus'"></i>

      </nz-upload>
    </div>
    <nz-form-item>
      <div style="width: 100%;">
        <nz-form-label style="height: 30px" nzRequired>Nội dung</nz-form-label>
      </div>
      <nz-form-control style="width: 100%" [nzSpan]="24" nzErrorTip="Nội dung không được để trống!">
        <ckeditor formControlName="contentDetail" [editor]="Editor" required></ckeditor>
        <!--          <input formControlName="title" style="width: 100%;" nz-input name="required" required-->
        <!--                 placeholder="Tiêu đề"/>-->
      </nz-form-control>
    </nz-form-item>
    <!--    <ckeditor formControlName="contentDetail" [editor]="Editor"></ckeditor>-->
    <!--        <ckeditor formControlName="content1" [editor]="Editor" data="<p>Hello, world!</p>"></ckeditor>-->
    <div class="d-flex justify-content-end mt-5">
      <button class="mr-4" (click)="handleOk()" nz-button nzType="primary">Ok</button>
      <button (click)="handleCancel(false)" nz-button nzType="primary">Cancel</button>
    </div>
  </form>

</nz-modal>


