<form nz-form [formGroup]="formSearch">

  <div class="d-flex align-items-center justify-content-between mb-4">
    <div class="d-flex">
      <button style="border-radius: 5px" class="d-flex align-items-center ml-3" nz-button nzType="primary"
              (click)="handleSearch()">
        <i nz-icon nzType="search" nzTheme="outline"></i> Tìm kiếm
      </button>
      <button style="border-radius: 5px" class="d-flex align-items-center ml-3" nz-button nzType="primary"
              (click)="handleAdd()">
        <i nz-icon nzType="plus" nzTheme="outline"></i> Thêm mới
      </button>
    </div>

    <div class="d-flex justify-content-end">
      <nz-input-group [nzSuffix]="suffixIconSearch">
        <input class="px-1" formControlName="title" (change)="handleSearch()" type="text" nz-input
               placeholder="input search text"/>
      </nz-input-group>
      <ng-template #suffixIconSearch>
        <i class="mb-2" nz-icon nzType="search"></i>
      </ng-template>
    </div>
  </div>
  <nz-table
    #basicTable
    [nzData]="data"
    [(nzPageIndex)]="searchModel.pageIndex"
    [nzFrontPagination]="false"
    nzBordered
    nzShowSizeChanger
    [nzScroll]="{ x: '1300px'}"
  >
    <!--    [(nzPageSize)]="total"-->
    <!--    [(nzPageIndex)]="searchModel.pageIndex"-->
    <!--    [nzPageSizeOptions]="pageSize"-->
    <thead>
    <tr>
      <th>STT</th>
      <th>Id</th>
      <th [nzShowSort]="true" [nzSortDirections]="['ascend', 'descend']" (click)="handleLikeSort('like1')">Lượt thích</th>
      <th [nzShowSort]="true" [nzSortDirections]="['ascend', 'descend']" (click)="handleCommentSort('comment')">Lượt bình luận</th>
      <th>Tiêu đề</th>
      <th>Giới thiệu</th>
      <th>Mô tả chi tiết</th>
      <!--        <th>Status</th>-->
      <th>Ảnh</th>
      <th>Ngày tạo</th>
      <th>Ngày cập nhật</th>
      <th>Thể loại</th>
      <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
<!--    <tr *ngFor="let item of data | filter:searchValue | sort:sortValue:isSort | filter:searchValue, let i = index">-->
    <tr *ngFor="let item of data | filter:searchValue | filter:searchValue, let i = index">
      <td class="text-nowrap">{{validateService.getRowIndex(i, basicTable.nzPageIndex, basicTable.nzPageSize)}}</td>
      <td>{{ item.id }}</td>
      <td>{{ item.like1 }} </td>
      <td>{{ item.comment }}</td>
      <td>{{ item.title }}</td>
      <td style=" white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{ item.contentPost }}</td>
      <td style=" white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">{{ item.contentDetail }}</td>
      <!--        <td>{{ item.status }}</td>-->
      <td><img style="width: 100%" [src]="item.imagePath"></td>
      <td>{{ item.createdAt | dateFormat: 'dd/MM/yyyy' }}</td>
      <td>{{ item.updatedAt | dateFormat: 'dd/MM/yyyy' }}</td>
      <td>{{item.category}}</td>

      <td>
        <a style="font-size: 21px" class="mr-3" (click)="handleEdit(item)"><i nz-icon nzType="edit"
                                                                              nzTheme="outline"></i></a>
        <a style="font-size: 21px" nz-popconfirm nzPopconfirmTitle="Bạn chắc chắn muốn xóa bài đăng này?"
           (nzOnConfirm)="handleDelete(item)"><i nz-icon nzType="delete" nzTheme="outline"></i></a>
      </td>
    </tr>
    </tbody>
  </nz-table>
  <div class="d-flex justify-content-end">
    <nz-pagination class="pb-4" (nzPageIndexChange)="handlechangePage($event)" [(nzPageIndex)]="curPage"
                   [nzPageSize]="10" [nzTotal]="total"></nz-pagination>
  </div>
  <!--  (click)="changePage()"-->
</form>

<app-add-posts [isAdd]="isAdd" (closePopup)=handleClosePopup($event)></app-add-posts>
<app-edit-posts [isEdit]="isEdit" [dataEdit]="dataEdit" (closePopup)=handleClosePopup($event)></app-edit-posts>
